@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./vendor/materialize.min.css);
@import url(./page/page.css);
@import url(./header/header.css);
@import url(./button/button.css);
@import url(./cv/cv__scroll-down.css);
@import url(./promo/__row/promo__row.css);
@import url(./section/section.css);
@import url(./portfolio/__card/portfolio__card.css);
@import url(./portfolio/__card/_img/portfoliom__card_img.css);
@import url(./portfolio/__card-badges/portfolio__card-badges.css);
@import url(./portfolio/__card-badges/_badge/portfolio__card-badges_badge.css);
@import url(./portfolio/__links/portfolio__links.css);
@import url(./portfolio/__links/_link/portfolio__links_link.css);
@import url(./contacts/contacts.css);
@import url(./contacts/__link-list/contacts__link-list.css);
@import url(./contacts/__link-list/_item/contacts__link-list_item.css);
@import url(./contacts/__icon/contacts__icon.css);
@import url(./contacts/__image/contacts__image.css);
@import url(./technology/technology.css);
@import url(./technology/__section/technology__section.css);
@import url(./technology/__group/technology__group.css);
@import url(./technology/__group/_img/technology__group_img.css);
@import url(./technology/__group/_text/technology__group_text.css);
@import url(./education/education.css);
@import url(./sertificates/__list/sertificates__list.css);
@import url(./sertificates/__list/_item/sertificates__list_item.css);
@import url(./sertificates/__list/_img/sertificates__list_img.css);
