.technology__section {
  margin: 60px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .technology__section {
    margin: 20px 0 0;
  }
}