
.cv__scroll-down {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto 20px;
}
.cv__scroll-down:before,
.cv__scroll-down:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 2px solid #01579b;
  border-bottom: 2px solid #01579b;
  animation: arrow 4s linear infinite;
}
.cv__scroll-down:after {
  animation: arrow 4s linear infinite -1.5s;
}
@keyframes arrow {
  0% {
      opacity: 0;
      transform: translate(0, -13px) rotate(-45deg);
  }
  10%, 90% {
      opacity: 0;
  }
  50% {
      opacity: 1;
      transform: translate(0, 0) rotate(-45deg);
  }
  100% {
      opacity: 0;
      transform: translate(0, 13px) rotate(-45deg);
  }
}